html{
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    background-color: #000;
    font-family: 'Open Sans';
}

.container{
    max-width:1460px;
    margin:0 auto;
}

.discover{
    background-image: url(images/Background.png);
    background-size: cover;
    max-width:100%;
    height:1573px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding:64px 84px 0px 85px;
    color:#fff;
}

.discover__header-text{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 1%;
    text-transform: capitalize;
}

.discover__item{
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
}

.discover__box{
    display: flex;
    justify-content: space-between;
    gap:50px;
}

.discover__link{
    cursor: pointer;
}

.discover__input{
    background-color: transparent;
    border:none;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0px;
    width:54px;
    height: 23px;
    opacity: 0.7;
}

.discover__click-img{
    height:20px;
    width:20px;
    opacity: 0.3;
}

.discover__input-box{
    display: flex;
    align-items: center;
}

.vertical-article{
    position:absolute;
    height:25px;
    width:214px;
    margin-left: 79px;
    display: flex;
    flex-direction: column;
    top:400px;
}

.vertical-article p{
    display: inline-block;
    transform: rotate(90deg);
    width:82px;
    height:25px;
    margin-left: -29px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
    color:#fff;
}

.vertical-article img{
    height: 24px;
    width: 24px;
}

.img__box{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap:20px;
}

.discover__main-Stext-box{
    height:25px;
    display: flex;
    align-items: center;
}

.discover__main-Stext{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FFC178;
    margin-left: 32px;
}

.discover-hr{
    border: none;
    height: 2px;
    width:72px;
    background:  #FFC178
}

.discover__main{
    display: flex;
    margin-top: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discover__main-Ltext{
    font-family: Open Sans;
    font-weight: 300;
    font-size: 96px;
    line-height: 100px;
    text-transform: capitalize;
    color:white;
}

.discover__main-Ltext span{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 96px;
    line-height: 100px;
    text-transform: capitalize;
    color:white;
}

.scroll-down{
    display: flex;
    justify-content: center;
    margin-top: 125px;
}

.scroll-text{
    color:#fff;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
}

.scroll-img{
    margin-left: 10px;
    width: 16px;
    height:24px;
}

.holidays{
    width: 1400px;
    height: 721px;
}

.holidays__box{
    color:white;
    width:632px;
    height:546px;
}

.upper-text{
    display: flex;
    align-items: center;
    color:#FBD784;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.upper-text hr{
    border: none;
    height: 2px;
    width:72px;
    background:  #FFC178
}

.upper-text p{
    margin-left: 24px;
}

.holidays__header-text{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 64px;
    line-height: 135%;
    letter-spacing: 0%;
}

.holidays-text{
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0px;
    margin-top: 27px;
}

.holidays__link{
    display: flex;
    align-items: center;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
    color:#FBD784;
    margin-top: 27px;
}

.holidays__link img{
    margin-left: 9px;
}

.holidays__img{
    max-width: 598px;
    max-height: 720px;
}

.holidays__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}