html{
    scroll-behavior: smooth;

}

body{
    box-sizing: border-box;
    background-color: #000;
    font-family: 'Open Sans';
}

.container{
    max-width:1460px;
    margin: 0 auto;
}

.discover{
    background-image: url(images/Background.png);
    background-size: cover;
    max-width:100%;
    height:1573px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding:64px 84px 0px 85px;
    color:#fff;
}

.discover__header-text{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 1%;
    text-transform: capitalize;
}

.discover__item{
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
}

.discover__box{
    display: flex;
    justify-content: space-between;
    gap:50px;
}

.discover__link{
    cursor: pointer;
}

.discover__input{
    background-color: transparent;
    border:none;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0px;
    width:54px;
    height: 23px;
    opacity: 0.7;
}

.discover__click-img{
    height:20px;
    width:20px;
    opacity: 0.3;
}

.discover__input-box{
    display: flex;
    align-items: center;
}

.vertical-article{
    position:absolute;
    height:25px;
    width:214px;
    margin-left: 79px;
    display: flex;
    flex-direction: column;
    top:400px;
}

.vertical-article p{
    display: inline-block;
    transform: rotate(90deg);
    width:82px;
    height:25px;
    margin-left: -29px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
    color:#fff;
}

.vertical-article img{
    height: 24px;
    width: 24px;
}

.img__box{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap:20px;
}

.discover__main-Stext-box{
    height:25px;
    display: flex;
    align-items: center;
}

.discover__main-Stext{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FFC178;
    margin-left: 32px;
}

.discover-hr{
    border: none;
    height: 2px;
    width:72px;
    background:  #FFC178
}

.discover__main{
    display: flex;
    margin-top: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discover__main-Ltext{
    font-family: Open Sans;
    font-weight: 300;
    font-size: 96px;
    line-height: 100px;
    text-transform: capitalize;
    color:white;
}

.discover__main-Ltext span{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 96px;
    line-height: 100px;
    text-transform: capitalize;
    color:white;
}

.scroll-down{
    display: flex;
    justify-content: center;
    margin-top: 125px;
}

.scroll-text{
    color:#fff;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
}

.scroll-img{
    margin-left: 10px;
    width: 16px;
    height:24px;
}

.holidays{
    margin-top:-144px;
}

.holidays__box{
    color:white;
    display: flex;
    flex-direction: column;
    margin-left: 232px;
}

.upper-text{
    display: flex;
    align-items: center;
    color:#FBD784;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.upper-text hr{
    border: none;
    height: 2px;
    width:72px;
    background:  #FFC178
}

.upper-text p{
    margin-left: 24px;
}

.holidays__header-text{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 64px;
    line-height: 135%;
    letter-spacing: 0%;
}

.holidays-text{
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0px;
    margin-top: 27px;
}

.read-more__link{
    display: flex;
    align-items: center;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
    color:#FBD784;
    margin-top: 27px;
    gap:9px;
}

.holidays__img{
    max-width: 598px;
    max-height: 720px;
}

.holidays__wrapper{
    display: flex;
    align-items: center;
}

.swiper-slide img {
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev{
    color:white;
}

.bromo{
    margin-top: 250px;
}

.bromo-bg{
    background-image: url(images/Big_background.png);
    object-fit: cover;
    width: 1461px;
    height: 985px;    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bromo__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -41px;
}

.bromo__header{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 6px;
    text-transform: uppercase;
    color:#FBD784;
    display: flex;
    gap:29px;
    align-items: center;
    margin-bottom: 24px;
}

.bromo__header hr{
    border: none;
    height: 2px;
    width:72px;
    background:  #FFC178
}

.bromo__big-text{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color:#fff;
    margin-bottom: 27px;
}

.bromo-text{
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    color:#fff;
    margin-bottom: 8px;
}

.bromo-bg, .read-more__link{
    margin-bottom: 41px;
}

.culture{
    margin-top:209px;
}

.culture__box{
    color:white;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.culture__header-text{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 64px;
    line-height: 135%;
    letter-spacing: 0%;
}

.culture-text{
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0px;
    margin-top: 27px;
}

.culture__img{
    max-width: 598px;
    max-height: 720px;
    margin-left: 220px;
}

.culture__wrapper{
    display: flex;
    align-items: center;
}

.footer{
    margin-top: 250px;
    color:#fff;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-top-Ltext{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 1%;
    text-transform: capitalize;
}

.footer-top-Stext{
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: -0.3px;
    margin-right: 55px;
}

.footer-top-btn{
    border:none;
    font-weight: 700;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0px;
    width: 239px;
    height: 69px;
    border-radius: 8px;
    background-color: #FFA343;
}

.footer-top div{
    display: flex;
    align-items: center;
}

.footer hr{
    color:#808080;
    width:100%;
    margin-top: 50px;
}

.footer-mid{
    margin-top: 55px;
}

.footer-mid-list{
    display: flex;
    justify-content: space-between;
}

.footer-mid-item:nth-child(2){
    display: flex;
    flex-direction: column;
    gap:35px;
}

.footer-mid-item:nth-child(3){
    display: flex;
    flex-direction: column;
    gap:35px;
}

.footer-mid-item:nth-child(4){
    display: flex;
    flex-direction: column;
    gap:35px;
}

.footer-mid-item h2{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -0.3px;
    color:#fff;
}

.footer-mid-item-form{
    font-family: DM Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: -0.2px;
    width:400px;
    height:70px;
    display: flex;
    border-bottom: 1px solid #808080;
    margin-top: 50px;
}

.footer-mid-item-form input{
    opacity: 0.5;
    background: transparent;
    border:none;
    width:330px;
    height:70px;
}

.footer-mid-item h3{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.23px;
    color:#FFD1A0;
}

.footer-mid-item p{
    font-family: Open Sans;
    font-weight: 400;
    font-size: 19px;
    letter-spacing: -0.2px;
    color:#fff;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 107px;
}

.footer-bottom-left{
    display: flex;
    gap:50px;
    margin-left: 40px;
}

.footer-bottom-left p{
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: -0.2px;
}

.footer-bottom-right{
    display: flex;
    gap:51px;
}

.footer-bottom-right img{
   height:25px;
   width:25px;
}

.copyright{
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    color:#fff;
    opacity:0.5;
    margin-top: 156px;
    padding-bottom: 118px;
}