html{
    scroll-behavior: smooth;

}

body{
    box-sizing: border-box;
    background-color: #000;
    font-family: 'Open Sans';
}

.activebody *:not(.more_info){
    opacity: 0.8;
    pointer-events: none;
}

.activebody *:not(.more_info button){
    opacity: 0.8;
    pointer-events: none;
}

.activebody *:not(.more_info p){
    opacity: 0.8;
    pointer-events: none;
}

.container{
    max-width:1460px;
    margin: 0 auto;
}

.discover{
    background-image: url(images/Background.png);
    background-size: cover;
    max-width:100%;
    height:1573px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    padding:64px 84px 0px 85px;
    color:#fff;
}

.discover__header-text{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 1%;
    text-transform: capitalize;
}

.discover__item{
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
}

.discover__box{
    display: flex;
    justify-content: space-between;
    gap:50px;
}

.discover__link{
    cursor: pointer;
    text-decoration: none;
    color:#fff;
}

.discover__input{
    background-color: transparent;
    border:none;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0px;
    width:54px;
    height: 23px;
    opacity: 0.7;
    margin-left:15px;
    margin-right:15px;
}

.discover__click-img{
    height:20px;
    width:20px;
    opacity: 0.3;
    cursor: pointer;
}

.discover__click-btn{
    border:none;
    opacity: 0.2;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 17px;
    background:transparent;
    color:#fff;
    cursor: pointer;
}

.discover__input-box{
    display: flex;
    align-items: center;
}

.vertical-article{
    position:absolute;
    height:25px;
    width:214px;
    margin-left: 79px;
    display: flex;
    flex-direction: column;
    top:400px;
}

.vertical-article p{
    display: inline-block;
    transform: rotate(90deg);
    width:82px;
    height:25px;
    margin-left: -29px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
    color:#fff;
}

.vertical-article img{
    height: 24px;
    width: 24px;
}

.img__box{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap:20px;
}

.discover__main-Stext-box{
    height:25px;
    display: flex;
    align-items: center;
}

.discover__main-Stext{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FFC178;
    margin-left: 32px;
}

.discover-hr{
    border: none;
    height: 2px;
    width:72px;
    background:  #FFC178
}

.discover__main{
    display: flex;
    margin-top: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discover__main-Ltext{
    font-family: Open Sans;
    font-weight: 300;
    font-size: 96px;
    line-height: 100px;
    text-transform: capitalize;
    color:white;
}

.discover__main-Ltext span{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 96px;
    line-height: 100px;
    text-transform: capitalize;
    color:white;
}

.scroll-down{
    display: flex;
    justify-content: center;
    margin-top: 125px;
}

.scroll-text{
    color:#fff;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
}

.scroll-img{
    margin-left: 10px;
    width: 16px;
    height:24px;
}

.holidays{
    margin-top:-144px;
}

.holidays__box{
    color:white;
    display: flex;
    flex-direction: column;
    margin-left: 232px;
}

.upper-text{
    display: flex;
    align-items: center;
    color:#FBD784;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.upper-text hr{
    border: none;
    height: 2px;
    width:72px;
    background:  #FFC178
}

.upper-text p{
    margin-left: 24px;
}

.holidays__header-text{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 64px;
    line-height: 135%;
    letter-spacing: 0%;
}

.holidays-text{
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0px;
    margin-top: 27px;
}

.read-more__link{
    display: flex;
    align-items: center;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
    color:#FBD784;
    margin-top: 27px;
    gap:9px;
}

.holidays__img{
    max-width: 598px;
    max-height: 720px;
}

.holidays__wrapper{
    display: flex;
    align-items: center;
}

.swiper-slide img {
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev{
    color:white;
}

.bromo{
    margin-top: 250px;
}

.bromo-bg{
    background-image: url(images/Big_background.png);
    object-fit: cover;
    width: 1461px;
    height: 985px;    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bromo-bg:nth-child(2){
    background-image: url(images/background2.webp);
    object-fit: cover;
    width: 1461px;
    height: 985px;    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bromo-bg:nth-child(3){
    background-image: url(images/background3.jpg);
    object-fit: cover;
    width: 1461px;
    height: 985px;    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bromo__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -41px;
}

.bromo__header{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 6px;
    text-transform: uppercase;
    color:#FBD784;
    display: flex;
    gap:29px;
    align-items: center;
    margin-bottom: 24px;
}

.bromo__header hr{
    border: none;
    height: 2px;
    width:72px;
    background:  #FFC178;
}

.bromo__big-text{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color:#fff;
    margin-bottom: 27px;
}

.bromo-text{
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    color:#fff;
    margin-bottom: 8px;
}

.bromo-bg, .read-more__link{
    margin-bottom: 41px;
}

.culture{
    margin-top:209px;
}

.culture__box{
    color:white;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.culture__header-text{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 64px;
    line-height: 135%;
    letter-spacing: 0%;
}

.culture-text{
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0px;
    margin-top: 27px;
}

.culture__img{
    max-width: 598px;
    max-height: 720px;
    margin-left: 220px;
}

.culture__wrapper{
    display: flex;
    align-items: center;
}

.footer{
    margin-top: 150px;
    color:#fff;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-top-Ltext{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 1%;
    text-transform: capitalize;
}

.footer-top-Stext{
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: -0.3px;
    margin-right: 55px;
}

.footer-top-btn{
    border:none;
    font-weight: 700;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0px;
    width: 239px;
    height: 69px;
    border-radius: 8px;
    background-color: #FFA343;
}

.footer-top div{
    display: flex;
    align-items: center;
}

.footer hr{
    color:#808080;
    width:100%;
    margin-top: 50px;
}

.footer-mid{
    margin-top: 55px;
}

.footer-mid-list{
    display: flex;
    justify-content: space-between;
}

.footer-mid-item:nth-child(2){
    display: flex;
    flex-direction: column;
    gap:35px;
}

.footer-mid-item:nth-child(3){
    display: flex;
    flex-direction: column;
    gap:35px;
}

.footer-mid-item:nth-child(4){
    display: flex;
    flex-direction: column;
    gap:35px;
}

.footer-mid-item h2{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -0.3px;
    color:#fff;
}

.footer-mid-item-form{
    font-family: DM Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: -0.2px;
    width:400px;
    height:70px;
    display: flex;
    border-bottom: 1px solid #808080;
    margin-top: 50px;
}

.footer-mid-item-form input{
    opacity: 0.5;
    background: transparent;
    border:none;
    width:330px;
    height:70px;
}

.footer-mid-item h3{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.23px;
    color:#FFD1A0;
}

.footer-mid-item p{
    font-family: Open Sans;
    font-weight: 400;
    font-size: 19px;
    letter-spacing: -0.2px;
    color:#fff;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 107px;
    align-items: center;
}

.footer-bottom-left{
    display: flex;
    gap:50px;
    margin-left: 40px;
}

.footer-bottom-left p{
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: -0.2px;
}

.footer__goDown{
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    opacity: 0.25;
}

.footer__goDown img{
    transform: rotateX(180deg);
}

.footer-bottom-right{
    display: flex;
    gap:51px;
}

.footer-bottom-right img{
   height:25px;
   width:25px;
}

.copyright{
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    color:#fff;
    opacity:0.5;
    margin-top: 156px;
    padding-bottom: 118px;
}

.readmore{
    font-family: Open Sans;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    letter-spacing: -0.2px;
    color:#fff
}

mark{
    text-decoration: underline;
    opacity: 0.5;
    color: #fff;
}

.register-label{
    color:#fff;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
}

.login-label{
    color:#fff;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
}

.register input{
    border:1px solid #fff;
    border-radius: 15px;
    background-color: transparent;
}

.login input{
    border:1px solid #fff;
    border-radius: 15px;
    background-color: transparent;
}

.option{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.register{
    display: flex;
    flex-direction: column;
    gap:30px;  
    align-items: center;
}

.register h3{
    color:#fff;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
}

.login h3{
    color:#fff;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
}

.register button{
    width:100px;
    height:50px; 
    color:#fff;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    background: transparent;
    border:1px solid #fff;
    border-radius: 15px;
}

.login button{
    width:100px;
    height:50px; 
    color:#fff;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    background: transparent;
    border:1px solid #fff;
    border-radius: 15px;
}

.login{
    display: flex;
    flex-direction: column;
    gap:30px;  
    align-items: center;
}


.back{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.back-btn{
    width:120px;
    height:50px; 
    color:#fff;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    background: transparent;
    border:1px solid #fff;
    border-radius: 15px;
}

.popular-destinations{
    margin-top: 250px;
}

.popular-destinations .container{
    background: linear-gradient(90deg, #FBD784 50%, transparent 50%), linear-gradient(90deg, #FBD784 50%, transparent 50%), linear-gradient(0,#FBD784 50%, transparent 50%), linear-gradient(0, #FBD784 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 10px 2px, 10px 2px, 2px 10px, 2px 10px;
    animation: marching-ants 1000ms infinite linear;
    padding: 20px 0;
}   

iframe:nth-child(1){
    padding-left: 50px;
}

iframe{
    width:500px;
    height:500px;
    border-radius:2.5%;
}

.popular-destinations__wrapper p{
    font-family: Open Sans;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    color:#fff;
    text-align: center;
}

.popular-destinations__wrapper h4{
    margin-top: 45px;
    text-align: center;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 28px;
    line-height: 44px;
    color:#fff;
}

.popular-destinations__wrapper h4:hover{
    text-decoration: underline;
    color: #FFC178;
}

        .more_info { 
            position: absolute;
            display: none;
            z-index: 10;
            max-width:100%;
            font-family: Open Sans;
            font-weight: 600;
            font-size: 22px;
            line-height: 46px;
            color:#fff;
            margin: 0 50px;
            opacity:1 !important;
            text-align: center;
            background:#000;
            z-index: 1000;
            padding-top: 5px;
        }

        .more_info p{
            margin: 7.5px;
        }

        .more_info button{
            border:none;
            font-family: Open Sans;
            font-weight: 600;
            font-size: 16px;
            background-color: #FFA343;
            border-radius: 100%;
            width: 70px;
            height: 70px;
            margin-left: 15px;
            margin-bottom: 15px;
            pointer-events:all !important;
        }

        .active{
            display: flex;
            flex-direction: column;
            justify-content: center;
            color:#fff;
            background-color: #000;
            border-radius: 8px;
            border: 1px #FFA343 solid
        }
        
.bromo-vulcano, .nusa-tegara , .komodo{
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.border__popular-destinations{
    width:90%;
}

@keyframes marching-ants {
  0% {
    background-position: 0 0, 10px 100%, 0 10px, 100% 0;
  }
  100% {
    background-position: 10px 0, 0 100%, 0 0, 100% 10px;
  }
}


@media(max-width:1470px){
    .container{
        max-width:1180px;
        margin: 0 auto;
    }
    .discover__main-Ltext{
        font-size: 88px;
    }
     .discover__main-Stext{
        font-size: 16px;
    }
    .holidays__header-text{
        font-size: 58px;
        line-height: 110%;
    }
    .holidays-text{
        line-height: 30px;
    }
    .culture__header-text{
        font-size: 58px;
        line-height: 110%;
    }
    .culture-text{
        line-height: 30px;
    }
}

@media(max-width:1130px){
    .holidays__header-text br{
        display: none;
    }
    .holidays__box{
        margin-left: 131px;
    }
    .bromo__big-text{
        font-size: 58px;
    }
    .bromo-text{
        font-size: 16px;
        line-height: 30px;
    }
    .footer-top-Ltext{
        font-size: 42px;
    }
    .footer-top-Stext{
        font-size: 20px;
    }
    .footer-top-btn{
        width:209px;
        height:59px;
    }
    .footer-mid-item h2{
        font-size: 32px;
    }
     .footer-mid-item:nth-child(2){
        gap:25px;
    }
    .footer-mid-item:nth-child(3){
        gap:25px;
    }
     .footer-mid-item:nth-child(4){
        gap:25px;
    }
    .culture__img{
        margin-left: 20px;
    }
}

@media(max-width:1050px){
    .vertical-article{
        margin-left: 59px;
    }
}

@media(max-width:990px){
    .discover__main-Ltext{
        font-size: 76px;
        line-height: 80px;
        margin-top: 35px;
    }
    .discover__main-Ltext span{
        font-size: 76px;
        line-height: 80px;
    }
    .holidays-text br{
        display: none;
    }
    .holidays__img{
       max-width:480px;
    }
    .holidays__box{
        margin-left: 90px;
    }
    .culture__img{
        max-width:450px;
    }
    .footer{
        margin: 150px 10px 0 10px;
    }
}

@media(max-width:870px){
    .discover{
        height:1300px;
    }
    .vertical-article{
        top:200px;
        margin-left: 79px;
    }
    .discover__main-Ltext{
        text-align: center;
    }
    .holidays__img{
        max-width: 370px;
    }
    .holidays-text{
        line-height: 28px;
        margin-top: 17px;
    }
    .bromo {
        margin-top: 150px;
    }
    .bromo__big-text {
        font-size: 52px;
    }
    .culture {
        margin-top: 100px;
    }
    .culture-text {
        line-height: 28px;
        margin-top: 17px;
    }
    .copyright{
        margin-top: 78px;
        padding-bottom: 59px;
    }
    .popular-destinations__wrapper p {
        font-family: Open Sans;
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        color: #fff;
        text-align: center;
    }
    .popular-destinations__wrapper h4 {
        margin-top: 35px;
        text-align: center;
        font-family: Open Sans;
        font-weight: 600;
        font-size: 24px;
        line-height: 40px;
        color: #fff;
    }
    iframe {
        width: 400px;
        height: 400px;
        border-radius: 2.5%;
    }
    .popular-destinations {
        margin-top: 100px;
    }
        .more_info { 
            position: absolute;
            display: none;
            z-index: 10;
            max-width:100%;
            font-family: Open Sans;
            font-weight: 600;
            font-size: 20px;
            line-height: 40px;
            color:#fff;
            margin: 0 50px;
            opacity:1 !important;
            text-align: center;
            background:#000;
            z-index: 1000;
            padding-top: 5px;
        }

        .more_info p{
            margin: 7.5px;
        }

        .more_info button{
            border:none;
            font-family: Open Sans;
            font-weight: 600;
            font-size: 12px;
            background-color: #FFA343;
            border-radius: 100%;
            width: 60px;
            height: 60px;
            margin-left: 15px;
            margin-bottom: 15px;
            pointer-events:all !important;
        }

        .active{
            display: flex;
            flex-direction: column;
            justify-content: center;
            color:#fff;
            background-color: #000;
            border-radius: 8px;
            border: 1px #FFA343 solid
        }
}

@media(max-width:770px){
    .navbar{
        padding: 40px 55px 0px 55px;
    }
    .discover__input{
        margin:0;
    }
    .bromo-text br{
        display: none;
    }
    .footer-top-btn {
        width: 179px;
        height: 59px;
    }
    .footer-mid-item-form {
        width: 350px;
        height: 70px;
        margin-top: 40px;
    }
    .footer-mid-item:nth-child(2) {
        gap: 20px;
    }
    .footer-mid-item:nth-child(3) {
        gap: 20px;
    }
    .footer-mid-item:nth-child(4) {
        gap: 20px;
    }
    .footer-bottom {
        margin-top: 53px;
    }
    .copyright {
        margin-top: 59px;
        padding-bottom: 59px;
    }
    .swiper-button-next,
    .swiper-button-prev{
        display: none;
    }
    .discover {
        height: 1000px;
    }
    .discover-hr {
        width: 52px;
    }
    .discover__main-Stext {
        font-size: 14px;
        letter-spacing: 5px;
    }
    .discover__main-Ltext span {
        font-size: 64px;
    }
    .discover__main-Ltext {
        font-size: 64px;
    }
    .holidays__wrapper {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .holidays__box {
        margin:0;
    }
    .holidays__header-text {
        font-size: 52px;
        line-height: 105%;
    }
    .holidays-text {
        line-height: 26px;
        margin-top: 15px;
        font-size:16px;
    }
    .upper-text {
        display: flex;
        align-items: center;
        color: #FBD784;
        font-family: Open Sans;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    .upper-text hr {
        width: 52px;
    }
    .bromo-bg:nth-child(1){
        height:800px;
    }
    .bromo-bg:nth-child(2){
        height:800px;
    }
    .bromo-bg:nth-child(3){
        height:800px;
    }
    .culture__wrapper{
        display: block;
    }
    .culture__img{
        margin-left: 0;
    }
    .footer {
        margin-top: 125px;
    }
    .footer-mid-item p {
        font-family: Open Sans;
        font-weight: 400;
        font-size: 17px;
        letter-spacing: -0.2px;
        color: #fff;
    }
    .footer-mid-item h3 {
        font-family: Open Sans;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: -0.23px;
        color: #FFD1A0;
    }
    .footer-mid-item-form img{
        height: 50px;
        margin-top: 20px;
    }  
    .footer-mid-item-form {
        width: 320px;
        height: 70px;
        margin-top: 40px;
    }
    .popular-destinations__wrapper p {
        font-family: Open Sans;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        color: #fff;
        text-align: center;
    }
    .popular-destinations__wrapper h4 {
        margin-top: 35px;
        text-align: center;
        font-family: Open Sans;
        font-weight: 600;
        font-size: 20px;
        line-height: 34px;
        color: #fff;
    }
    iframe {
        width: 300px;
        height: 320px;
        border-radius: 2.5%;
    }
    .more_info { 
            position: absolute;
            display: none;
            z-index: 10;
            max-width:100%;
            font-family: Open Sans;
            font-weight: 600;
            font-size: 16px;
            line-height: 32px;
            color:#fff;
            margin: 0 50px;
            opacity:100 !important;
            text-align: center;
            background:#000;
            z-index: 1000;
            padding-top: 5px;
        }

        .more_info p{
            margin: 7.5px;
        }

        .more_info button{
            border:none;
            font-family: Open Sans;
            font-weight: 600;
            font-size: 12px;
            background-color: #FFA343;
            border-radius: 100%;
            width: 50px;
            height: 50px;
            margin-left: 15px;
            margin-bottom: 15px;
            pointer-events:all !important;
        }

        .active{
            display: flex;
            flex-direction: column;
            justify-content: center;
            color:#fff;
            background-color: #000;
            border-radius: 8px;
            border: 1px #FFA343 solid
        }
}   

@media(max-width:680px){
    .discover__main-Ltext {
        font-size: 42px;
        line-height: 56px;
    }
    .discover__main-Ltext span{
        font-size: 42px;
        line-height: 56px;
    }
    .discover__main-Stext-box {
        display: none;
    }
    .navbar{
        flex-direction: column;
        align-items: baseline;
        gap: 25px;
        padding:10px;
    }
    .holidays__header-text{
        font-size: 42px;
    }
    .bromo__big-text {
        font-size: 42px;
    }
    .culture__header-text{
        font-size: 42px;
    }
    .footer-mid-item h2{
        font-size: 28px;
    }
    .footer-top-Ltext {
        font-size: 36px;
    }
    .footer-mid-item h3 {
        font-family: Open Sans;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: -0.23px;
        color: #FFD1A0;
    }
    .footer-mid-item p {
        font-family: Open Sans;
        font-weight: 400;
        font-size: 15px;
        letter-spacing: -0.2px;
        color: #fff;
    }
    .footer-mid-item-form {
        width: 270px;
        height: 70px;
        margin-top: 40px;
    }
    .culture__box{
        margin:0;
    }
    .more_info { 
            position: absolute;
            display: none;
            z-index: 10;
            max-width:100%;
            font-family: Open Sans;
            font-weight: 600;
            font-size: 12px;
            line-height: 24px;
            color:#fff;
            margin: 0 50px;
            opacity:1 !important;
            text-align: center;
            background:#000;
            z-index: 1000;
            padding-top: 5px;
        }

        .more_info p{
            margin: 7.5px;
        }

        .more_info button{
            border:none;
            font-family: Open Sans;
            font-weight: 600;
            font-size: 10px;
            background-color: #FFA343;
            border-radius: 100%;
            width: 50px;
            height: 50px;
            margin-left: 15px;
            margin-bottom: 15px;
            pointer-events:all !important;
        }

        .active{
            display: flex;
            flex-direction: column;
            justify-content: center;
            color:#fff;
            background-color: #000;
            border-radius: 8px;
            border: 1px #FFA343 solid
        }
}   

@media(max-width:560px){
    .footer-mid-item:nth-child(2){
        display: none;
    }
    .footer-mid-item:nth-child(3){
        display: none;
    }
    .footer-mid-item:nth-child(4){
        display: none;
    }
    .holidays__img {
        max-width: 100%;
    }
    .bromo {
        margin-top: 75px;
    }
    .footer-top-Stext{
        margin:0;
    }
    .footer-top div{
        flex-direction: column;
    }
    .footer-bottom-left {
        display: none;
    }
    .footer-bottom {
        display: flex;
        justify-content: center;
    }
    .culture__img {
        max-width: 100%;
    }
    .vertical-article{
        display: none;
    }
    .footer-mid-item-form {
        margin-top: 20px;
    }
    .discover__box {
        display: flex;
        justify-content: space-between;
        gap: 25px;
    }
    .swiper-button-next,
    .swiper-button-prev{
        display: none;
    }
    .container{
        max-width:365px
    }
    iframe{
        padding:0 !important;
        margin: auto !important;
        width: 300px;
        height: 320px;
        border-radius: 2.5%;
    }
    .bromo-vulcano, .nusa-tegara , .komodo{
        width: 85%;
        display: grid;
        grid-template-columns: 1fr;
    }
    .border__popular-destinations{
        width:100%;
    }
}
